* {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer {
  width: 50vw;
}
.logo {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}
.navlinksContainer {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav {
  font-size: 1.2rem;
  color: black;
}
.active {
  font-size: 1.2rem;
  border-bottom: 2px solid orange;
  color: orange;
}
